# --------------------
# Python
# --------------------
__pycache__/
*.pyc

# --------------------
# Environment
# --------------------
.env
.venv/
venv/
cd ml_training/skin_disease/src

*.pth
ava/skin_disease/model.pth


# --------------------
# Training data
# --------------------
ml_training/**/data/

# --------------------
# Training outputs / checkpoints
# --------------------
ml_training/**/outputs/

# --------------------
# Runtime temp files
# --------------------
temp_uploads/
ava/runtime/**/uploads/

# --------------------
# Test artifacts
# --------------------
test_image.jpeg
